/* @font-face { */
/* 	font-family: 'Open Sans'; */
/* 	src: local('Open Sans'), url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap') */
/* 		format('truetype'); */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4f4f4f
}

.page-link {
    color: #09568a;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #09568a;
    border-color: #042b45;
}

#preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
/*     background: url('../images/cargando.gif') 50% 50% no-repeat #fcfefc; */
}


/*Tags*/

.post-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.post-tags a {
    display: block;
    padding: 0 12px;
    line-height: 28px;
    height: 30px;
    border: 1px solid;
    border-color: #c5c1c14d;
    margin: 3px;
    font-size: 12px;
    color: black;
    border-radius: 3px;
}

.no-style-ul{
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292929;
    font-weight: bold
}

/* ===================================== Login  ================================== */
.login-box {
  padding: 20px;
  background-color: #FFF;
  float: inherit;
  margin: auto;
  margin-top: 12%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.login-box .title-box {
  padding: 10px;
  background-color: #008e86;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: -38px;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  margin-bottom: 40px;
}
.login-box .title-box h2 {
  font-size: 28px;
  margin-bottom: 0px;
}
.login-box .title-box p {
  font-size: 12px;
}
.login-box .row {
  margin: 0px;
  margin-top: 35px;
}
.login-box .row input {
  height: 35px;
  border: 0px;
  border-bottom: 1px solid #CCC;
}
.login-box .row label {
  margin-top: 7px;
  margin-left: 9px;
  float: left;
}
.login-box .row input[type=checkbox] {
  float: left;
}
.login-box .chk-lab {
  margin-top: 40px;
}
.login-box .chk-lab .colkd {
  padding-top: 7px;
  text-align: right;
}
.login-box .chk-lab .colkd a {
  color: #9c00ac;
  font-size: 13px;
}
.login-box .submot-row {
  text-align: center;
  margin-top: 10px;
}
.login-box .submot-row .btn-sm {
  margin-bottom: -55px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  width: 160px;
  background-color: #008e86;
  border-color: #008e86;
}
.coy-info {
  padding: absolute;
  float: right;
  bottom: 0px;
  margin-right: 30px;
  margin-top: 100px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
input::-moz-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
input::-ms-input-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
.btn-success:hover {
  background-color: #0d5652 !important;
  border-color: #0d5652 !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
  border-bottom: 2px solid #008e86 !important;
}

a.theme-link {
    color: #292929;
    -webkit-text-decoration-color: rgba(41, 41, 41, 0.3);
    text-decoration-color: rgba(41, 41, 41, 0.3)
}

a.theme-link:hover {
    color: #09568a;
    -webkit-text-decoration-color: rgba(84, 182, 137, 0.8);
    text-decoration-color: rgba(84, 182, 137, 0.8)
}

.single-col-max-width {
    max-width: 820px
}

hr {
    border-color: rgba(0, 0, 0, 0.08)
}

.btn {
    font-weight: bold;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 1rem
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        transition: none
    }
}

.btn:focus,
.btn.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.btn-primary {
    color: #fff
}

.form-control {
    border-color: #c2c2c2
}

.form-control::-webkit-input-placeholder {
    color: #8f8f8f
}

.form-control:-moz-placeholder {
    color: #8f8f8f
}

.form-control::-moz-placeholder {
    color: #8f8f8f
}

.form-control:-ms-input-placeholder {
    color: #8f8f8f
}

.error {
    color: #D9603C
}

.form-group label.error {
    font-size: 0.875rem;
    padding: 0.5rem 0
}

.custom-select {
    border-color: #c2c2c2;
    color: #8f8f8f;
    
}

.form-control-sm {
    height: calc(1.5em + .5rem + 2px) !important;
    padding: .25rem 1.1rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

.theme-bg-light {
    background: #fafafa !important
}

.theme-bg-dark {
    background: #223142 !important
}

.table-bordered th,
.table-bordered td {
    border-color: rgba(0, 0, 0, 0.08)
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #09568a;
    color: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #09568a;
    scrollbar-width: thin
}

.header::-webkit-scrollbar {
    width: 6px;
    background-color: #09568a
}

.header::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem
}

.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff
}

.header .blog-name a {
    color: #fff
}

.header .blog-name a:hover {
    text-decoration: none
}

.header .btn-primary {
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    font-size: 1rem
}

.header .btn-primary:hover {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent
}

.header .navbar {
    padding: 1.5rem 1rem
}

.header .navbar-toggler:focus {
    outline: none
}

.header .navbar-dark .navbar-toggler {
    border-radius: 2px;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: .25rem .6rem
}

.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.header .nav-item {
    font-weight: bold
}

.header .nav-item.active .nav-link {
    color: rgba(0, 0, 0, 0.5)
}

.header .nav-item.active .nav-link:hover {
    text-decoration: none
}

.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.header .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.6)
}

.header .nav-item .nav-link[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.5)
}

.header .nav-item .dropdown-menu {
    position: static;
    background: #063c60;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0
}

.header .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
    padding: 0.5rem;
    font-size: 0.875rem;
    padding-left: 2.25rem;
    font-weight: bold
}

.header .nav-item .dropdown-menu .dropdown-item:hover,
.header .nav-item .dropdown-menu .dropdown-item:active,
.header .nav-item .dropdown-menu .dropdown-item:focus,
.header .nav-item .dropdown-menu .dropdown-item.active {
    background: #40976f
}

.profile-section .profile-image {
    max-width: 160px
}

.profile-section .bio {
    font-size: 0.875rem
}

.profile-section .bio a {
    color: #fff;
    text-decoration: underline
}

.profile-section .bio a:hover {
    color: rgba(0, 0, 0, 0.6)
}

.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fff
}

@media (prefers-reduced-motion: reduce) {
    .social-list a {
        -webkit-transition: none;
        transition: none
    }
}

.social-list a:hover {
    color: #40976f;
    background-color: rgba(255, 255, 255, 0.8)
}

.main-wrapper {
    margin-left: 280px;
    background: #fff
}

.main-wrapper .container-single-col {
    max-width: 820px
}

.cta-section .heading {
    font-size: 2rem;
    font-weight: bold
}

.promo-section {
    margin-bottom: 40px
}

.promo-section .promo-image {
    max-width: 320px
}

.promo-section .promo-section-inner {
    background: #09568a
}

.footer.theme-bg-light {
    color: #828282;
}

.footer.theme-bg-light a {
    color: #828282
}

.footer.theme-bg-light a:hover {
    color: #767676
}

.footer.theme-bg-dark {
    color: rgba(255, 255, 255, 0.7)
}

.footer.theme-bg-dark a {
    color: rgba(255, 255, 255, 0.7)
}

.footer.theme-bg-dark a:hover {
    color: rgba(255, 255, 255, 0.8)
}

.dark-mode-toggle .toggle-name {
    color: #fff;
    font-size: 0.875rem
}

.dark-mode-toggle .toggle {
    display: none
}

.dark-mode-toggle .toggle + .toggle-btn {
    outline: 0;
    display: block;
    width: 70px;
    height: 30px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px
}

@media (prefers-reduced-motion: reduce) {
    .dark-mode-toggle .toggle + .toggle-btn {
        -webkit-transition: none;
        transition: none
    }
}

.dark-mode-toggle .toggle + .toggle-btn::-moz-selection {
    background: none
}

.dark-mode-toggle .toggle + .toggle-btn::selection {
    background: none
}

.dark-mode-toggle .toggle + .toggle-btn:after,
.dark-mode-toggle .toggle + .toggle-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%
}

.dark-mode-toggle .toggle + .toggle-btn:after {
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.4);
    content: "";
    border-radius: 16px
}

@media (prefers-reduced-motion: reduce) {
    .dark-mode-toggle .toggle + .toggle-btn:after {
        -webkit-transition: none;
        transition: none
    }
}

.dark-mode-toggle .toggle + .toggle-btn:before {
    display: none
}

.dark-mode-toggle .toggle:checked + .toggle-btn {
    border: 4px solid rgba(255, 255, 255, 0.9);
    border: 3px solid #09568a;
    background: rgba(0, 0, 0, 0.2)
}

.dark-mode-toggle .toggle:checked + .toggle-btn:after {
    left: 50%;
    background: rgba(255, 255, 255, 0.9);
    background: #09568a
}

.section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 1.5rem
}

.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #09568a;
    position: absolute;
    left: 0;
    top: 0
}

.profile-teaser .name {
    font-size: 3rem
}

.profile-teaser .profile-image {
    max-width: 400px
}

.profile-teaser .tagline {
    font-size: 1.5rem;
    font-weight: 300
}

.overview-section .item {
    margin-bottom: 2rem
}

.overview-section .item-desc {
    color: #4f4f4f;
    font-size: 0.875rem
}

.overview-section .item-icon {
    font-size: 1.875rem;
    color: #1a8c62
}

.overview-section .item-icon .fa-angular {
    color: #CA3327
}

.overview-section .item-icon .fa-js-square {
    color: #F1DE4F
}

.overview-section .item-icon .fa-react {
    color: #62D4FA
}

.overview-section .item-icon .fa-vuejs {
    color: #64B687
}

.overview-section .item-icon .nodejs {
    color: #55AC63
}

.overview-section .item-icon .fa-python {
    color: #456E9C
}

.overview-section .item-icon .fa-php {
    color: #777BAF
}

.overview-section .item-icon .fa-java {
    color: #2E68AB
}

.overview-section .item-icon .fa-html5,
.overview-section .item-icon .fa-html5-alt {
    color: #DE6E3C
}

.overview-section .item-icon .fa-css3,
.overview-section .item-icon .fa-css3-alt {
    color: #53A7DC
}

.overview-section .item-icon .fa-sass {
    color: #BF6B97
}

.overview-section .item-icon .fa-less {
    color: #324B7C
}

.overview-section .item-icon .fa-gulp {
    color: #C9514E
}

.overview-section .item-icon .fa-grunt {
    color: #EFAC42
}

.overview-section .item-icon .fa-npm {
    color: #BB443E
}

.overview-section .item-title {
    font-size: 1rem
}

.testimonial-carousel .item-inner {
    padding: 1.5rem;
    padding-left: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    background: #fafafa;
    height: 100%;
    position: relative
}

.testimonial-carousel .item-inner:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #09568a transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

.testimonial-carousel .source-profile img {
    max-width: 60px;
    border-radius: 50%
}

.testimonial-carousel .fa-quote-left {
    position: absolute;
    left: 0.35rem;
    top: 0.3rem;
    color: #fff;
    font-size: 0.75rem
}

.testimonial-carousel .source-holder {
    position: relative;
    padding-left: 76px;
    height: 60px
}

.testimonial-carousel .source-holder .source-profile {
    position: absolute;
    left: 0;
    top: 0
}

.testimonial-carousel .source-holder .meta {
    padding-top: .5rem
}

.testiomonial-carousel-container .tns-nav {
    display: block;
    margin-top: 1rem;
    text-align: center;
    width: 100%
}

.testiomonial-carousel-container .tns-nav button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.2);
    border: 0
}

.testiomonial-carousel-container .tns-nav button.tns-nav-active {
    background: #292929
}

.project-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.025);
    position: relative;
    height: 100%
}

.project-card:hover .link-mask {
    visibility: visible;
    background: rgba(41, 41, 41, 0.4)
}

.project-card:hover .link-mask-text {
    display: block
}

.project-card .card-img {
    border-radius: 0
}

.project-card .card-title {
    font-size: 1.125rem
}

.project-card .card-text {
    font-size: 0.875rem
}

.project-card .card-img-holder {
    max-height: 200px;
    overflow: hidden;
    vertical-align: middle
}

.project-card .link-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .project-card .link-mask {
        -webkit-transition: none;
        transition: none
    }
}

.project-card .link-mask .link-mask-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block
}

.project-card .link-mask-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    display: none
}

.project-card .link-mask-text .btn {
    top: 50%;
    margin-top: -20px;
    position: relative
}

.blog-post-card {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.025);
    height: 100%;
    border-radius: 0
}

.blog-post-card .card-title {
    font-size: 1.125rem
}

.blog-post-card .card-text,
.blog-post-card .more-link {
    font-size: 0.875rem
}

.blog-post-card .card-footer {
    border-top: none;
    background: none;
    padding-top: 0
}

.filters {
    list-style: none;
    font-size: 0.875rem
}

.filters .type {
    display: inline-block;
    padding: 0.275rem 0.25rem;
    cursor: pointer;
    margin-right: 2rem;
    color: #8f8f8f;
    font-weight: bold
}

.filters .type:last-child {
    margin-right: 0
}

.filters .type.active {
    border-top: 2px solid #09568a;
    color: #09568a;
    font-weight: bold
}

.filters .type.active:hover {
    border-top: 2px solid #09568a
}

.filters .type:hover {
    color: #292929
}

.project-meta {
    border: 1px solid rgba(0, 0, 0, 0.025);
    font-size: 0.875rem
}

.project-meta .client-name {
    font-size: 1.5rem
}

.project-meta .subheading {
    font-size: 1rem
}

.project-meta .client-meta {
    font-size: 1rem
}

.project-meta .client-meta .svg-inline--fa {
    color: #4f4f4f
}

.metric .inner {
    border: 1px solid rgba(0, 0, 0, 0.025);
    height: 100%
}

.metric-desc {
    font-size: 0.875rem;
    color: #8f8f8f
}

.metric-name {
    color: #09568a;
    font-weight: bold
}

.metric-data {
    font-weight: bold;
    font-size: 2rem
}

.metric-data .unit {
    font-size: 1rem;
    color: #8f8f8f
}

.client-quote {
    padding: 1.5rem;
    padding-left: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    background: #fafafa;
    height: 100%;
    position: relative
}

.client-quote:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #09568a transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

.client-quote .source-profile img {
    max-width: 60px
}

.client-quote .fa-quote-left {
    position: absolute;
    left: 0.35rem;
    top: 0.3rem;
    color: #fff;
    font-size: 0.75rem
}

.client-quote .source-holder {
    position: relative;
    padding-left: 76px;
    height: 60px
}

.client-quote .source-holder .source-profile {
    position: absolute;
    left: 0;
    top: 0
}

.client-quote .source-holder .meta {
    padding-top: .5rem
}

.pricing-table .pricing-package-title {
    font-size: 1rem;
    color: #09568a;
    background: #fafafa;
    text-align: center;
    padding: 1rem
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    vertical-align: middle;
}

.pricing-table .price-number {
    font-size: 1.5rem;
    font-weight: bold
}

.pricing-table .pricing-desc-row {
    vertical-align: inherit
}

.pricing-table tbody th {
    background: #fafafa;
    padding: 1rem;
    width: 30%;
    font-size: 0.875rem
}

.pricing-table tbody td {
    padding: 1rem;
    width: 23.3333333%;
    text-align: center;
    font-size: 0.875rem
}

.pricing-table tbody td .pricing-package-desc {
    font-size: 0.875rem;
    line-height: 1
}

.pricing-table .pricing-desc-row td {
    text-align: left;
    line-height: 1.4
}

.pricing-table tfoot td {
    padding: 1rem;
    text-align: center
}

.pricing-table .btn {
    height: inherit
}

.pricing-tab {
    display: block;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    background: #e1e1e1;
    color: #4f4f4f
}

.pricing-tab:hover {
    text-decoration: none;
    color: #4f4f4f
}

.pricing-tab.active {
    background: #09568a;
    color: #fff
}

.faq-accordion .card-toggle {
    color: #4f4f4f;
    text-decoration: none;
    display: block
}

.faq-accordion .card-toggle:hover {
    color: #292929
}

.faq-accordion .card-title {
    position: relative;
    padding-right: 2rem;
    font-size: 1rem
}

.faq-accordion .card-title .svg-inline--fa {
    position: absolute;
    right: 0;
    top: 0
}

.faq-accordion .card-body {
    font-size: 0.875rem
}

.resume-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.025)
}

.resume-section-heading {
    position: relative;
    padding-left: 1rem;
    font-size: 1.125rem;
    letter-spacing: 0.15rem;
    color: #09568a
}

.resume-section-heading:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #09568a;
    position: absolute;
    left: 0;
    top: 0
}

.resume-name {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    color: #09568a
}

.resume-tagline {
    font-size: 1.25rem;
    font-weight: 300
}

.resume-contact {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 0.75rem
}

a.resume-link {
    color: #4f4f4f
}

a.resume-link:hover {
    color: #09568a
}

.resume-profile-image {
    max-width: 120px
}

.resume-intro {
    font-size: 0.875rem
}

.resume-main .item-title {
    font-size: 1rem
}

.resume-main .item-meta {
    font-size: 0.75rem
}

.resume-main .item-content {
    font-size: 0.875rem
}

.resume-aside {
    border-left: 1px solid rgba(0, 0, 0, 0.08)
}

.resume-aside .item {
    font-size: 0.875rem
}

.resume-aside .item-title {
    font-size: 1rem
}

.resume-education-list,
.resume-awards-list {
    font-size: 0.875rem
}

.resume-degree-time-org,
.resume-degree-time {
    font-size: 0.75rem
}

.resume-lang-list,
.resume-interests-list {
    font-size: 0.875rem
}

.resume-social-list {
    font-size: 0.75rem
}

.blog-list .item .title {
    font-size: 1.275rem
}

.blog-list .item .title a {
    color: #292929
}

.blog-list .item .title a:hover {
    color: #292929
}

.blog-list .item .post-thumb {
    max-width: 110px;
    border-radius: 2px
}

.blog-list .item .intro {
    font-size: 0.875rem
}

.blog-list .item .more-link {
    font-size: 0.8125rem
}

.meta {
    color: #8f8f8f;
    font-size: 0.8125rem
}

.meta span {
    display: inline-block
}

.meta span a {
    color: #8f8f8f
}

.meta span a:hover {
    color: #4f4f4f
}

.meta span:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #8f8f8f;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    top: -3px
}

.meta span:last-child:after {
    display: none
}

.blog-nav .nav-link {
    background: #1874b3;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    position: relative
}

.blog-nav .nav-link:hover {
    background: #09568a;
}

.blog-nav .nav-link-prev {
    border-right: 1px solid #099a9a;
}

.blog-nav .arrow-prev {
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    color: #fff
}

.blog-nav .arrow-next {
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    color: #fff
}

.blog-post .title {
    font-weight: bold;
    font-size: 2rem
}

.blog-post .blog-post-body p,
.blog-post .blog-post-body li {
    font-size: 1.125rem;
    line-height: 1.2
}

.blog-post .blog-post-body h1 {
    font-size: 2.125rem
}

.blog-post .blog-post-body h2 {
    font-size: 2rem
}

.blog-post .blog-post-body h3 {
    font-size: 1.75rem
}

.blog-post .blog-post-body h4 {
    font-size: 1.5rem
}

.blog-post .blog-post-body h5 {
    font-size: 1.25rem
}

.blog-post .blog-post-body h6 {
    font-size: 1.125rem
}

.blog-post .image-caption {
    color: #8f8f8f;
    font-size: 0.875rem
}

.blog-post .image-caption a {
    color: #8f8f8f;
    text-decoration: underline
}

.blog-post .image-caption a:hover {
    color: #4f4f4f
}

.blog-post .blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-left: 2px solid #292929;
    font-size: 1.5rem
}

.blog-post .blockquote p {
    font-size: 1.5rem
}

@media (min-width: 768px) {
    .theme-btn-cta {
        width: inherit;
        display: inline-block
    }

    .cta-section .form-inline .form-control {
        width: 360px
    }

    .project-thumb {
        max-width: 200px
    }

    .pricing-table td,
    .pricing-table th {
        display: table-cell !important
    }
}

@media (min-width: 992px) {
    .profile-teaser .profile-image {
        max-width: 250px
    }

    .project-thumb {
        max-width: 200px
    }
}

@media (min-width: 1200px) {
    .profile-teaser .profile-image {
        max-width: 400px
    }

    .project-thumb {
        max-width: 300px
    }
}

@media (max-width: 991.98px) {
    .header {
        position: static;
        width: inherit;
        height: auto
    }

    .header .blog-name {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem
    }

    .header .btn-primary {
        width: 100%
    }

    .header .navbar {
        padding: 1rem
    }

    .main-wrapper {
        margin-left: 0
    }

    .resume-aside {
        border-left: 0
    }
}

@media (max-width: 767.98px) {
    .signup-form .form-group {
        width: 100%;
        margin-bottom: 0.5rem
    }

    .signup-form .form-control {
        width: 100%
    }

    .signup-form .btn-primary {
        width: 100%
    }

    .profile-teaser .profile-image {
        max-width: 100%
    }

    .header .nav-item .dropdown-menu .dropdown-item {
        padding-left: 1.875rem
    }

    .resume-contact {
        border-left: 0
    }

    .mobile-is-hidden {
        display: none
    }
}

@media (max-width: 575.98px) {
    .header .nav-item .dropdown-menu .dropdown-item {
        padding-left: 1.875rem
    }

    .link-mask {
        display: none !important
    }

    .mobile-is-hidden {
        display: none
    }
}

body.dark-mode {
    background: #151e29
}

body.dark-mode .angle4:after{
    background-color: #008e86;
}

body.dark-mode .angle4-two:after{
    background-color: #008e86;
}

body.dark-mode .icon-tecnologies {
    color:white;
}

body.dark-mode .theme-bg-light {
    background: #111821 !important;
    
}

body.dark-mode .card {
    background: #151e29 !important;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode hr {
    border-color: rgba(255, 255, 255, 0.08)
}

body.dark-mode .meta {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode .meta {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode .blockquote-footer {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode .text-muted {
    color: rgba(255, 255, 255, 0.4) !important
}

body.dark-mode .copyright {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode a.theme-link {
    color: rgba(255, 255, 255, 0.95);
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.4);
    text-decoration-color: rgba(255, 255, 255, 0.4)
}

body.dark-mode a.theme-link:hover {
    color: #09568a;
    -webkit-text-decoration-color: #09568a;
    text-decoration-color: #09568a
}

body.dark-mode .btn-secondary {
    background: #2f435c;
    border-color: #2f435c
}

body.dark-mode .btn-secondary:hover {
    background: #384f6c;
    border-color: #384f6c
}

body.dark-mode .table {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .table td,
body.dark-mode .table th {
    border-color: rgba(255, 255, 255, 0.05)
}

body.dark-mode .table thead th {
    border-color: rgba(255, 255, 255, 0.05)
}

body.dark-mode .table-bordered td,
body.dark-mode .table-bordered th {
    border: 1px solid rgba(255, 255, 255, 0.05)
}

body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.15)
}

body.dark-mode .header {
    background: #1e2a3a;
    scrollbar-color: rgba(255, 255, 255, 0.05) #1e2a3a
}

body.dark-mode .header::-webkit-scrollbar {
    background: #1e2a3a
}

body.dark-mode .header::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: .5rem
}

body.dark-mode .header .nav-item.active .nav-link {
    color: #09568a
}

body.dark-mode .header .nav-item.active .nav-link:hover {
    color: #09568a
}

body.dark-mode .header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .header .nav-item .nav-link:hover {
    color: #fff
}

body.dark-mode .header .nav-item .dropdown-menu {
    background: rgba(0, 0, 0, 0.1)
}

body.dark-mode .header .nav-item .dropdown-menu .dropdown-item:hover,
body.dark-mode .header .nav-item .dropdown-menu .dropdown-item:focus,
body.dark-mode .header .nav-item .dropdown-menu .dropdown-item:active {
    background: rgba(0, 0, 0, 0.2)
}

body.dark-mode .header .nav-item .dropdown-menu .dropdown-item.active {
    color: #09568a;
    background: rgba(0, 0, 0, 0.2)
}

body.dark-mode .header .btn-primary {
    background: #09568a
}

body.dark-mode .social-list a {
    background: #09568a
}

body.dark-mode .social-list a .svg-inline--fa {
    color: #fff
}

body.dark-mode .main-wrapper {
    background: #151e29;
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .main-wrapper > .cta-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: none !important
}

body.dark-mode .about-me-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: none !important
}

body.dark-mode .overview-section .item-desc {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .testimonial-carousel .item-inner {
    background: #151e29
}

body.dark-mode .project-card {
    background: #151e29;
    border: none
}

body.dark-mode .project-card:hover .link-mask {
    background: rgba(0, 0, 0, 0.5)
}

body.dark-mode .blog-post-card {
    background: #151e29;
    border: none
}

body.dark-mode .blog-post .blockquote {
    border-color: #09568a
}

body.dark-mode .filters .type {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode .filters .type.active {
    color: #09568a
}

body.dark-mode .filters .type.active:hover {
    color: #09568a
}

body.dark-mode .filters .type:hover {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .pricing-table {
    background: #151e29
}

body.dark-mode .pricing-table tbody th {
    background: #151e29
}

body.dark-mode .pricing-table .pricing-package-title {
    background: #151e29
}

body.dark-mode .faq-accordion .card-toggle {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .faq-accordion .card-toggle:hover {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode .faq-accordion .card-toggle[aria-expanded="true"] {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode a.resume-link {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .project-meta .client-meta .svg-inline--fa {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode .metric-data {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode .metric-data .unit {
    color: rgba(255, 255, 255, 0.4)
}

body.dark-mode .metric-desc {
    color: rgba(255, 255, 255, 0.7)
}

body.dark-mode .client-quote {
    background: #151e29
}

body.dark-mode .blog-list .item .title a {
    color: rgba(255, 255, 255, 0.95)
}

body.dark-mode .owl-theme .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.4)
}

body.dark-mode .owl-theme .owl-dots .owl-dot.active span,
body.dark-mode .owl-theme .owl-dots .owl-dot:hover span {
    background: rgba(255, 255, 255, 0.95)
}

body.dark-mode .testiomonial-carousel-container .tns-nav button {
    background: rgba(255, 255, 255, 0.4)
}

body.dark-mode .testiomonial-carousel-container .tns-nav button.tns-nav-active,
body.dark-mode .testiomonial-carousel-container .tns-nav button:hover {
    background: rgba(255, 255, 255, 0.95)
}

body {
    overflow-x: hidden
}

body.dark-mode .header .nav-item.active .nav-link {
    color: #1874b3;
}

body.dark-mode .header .nav-item.active .nav-link:hover {
    color: #09568a;
}

body.dark-mode .header .btn-primary {
    background: #1874b3;
}

body.dark-mode .social-list a {
    background: #1874b3;
}

.config-trigger {
    position: absolute;
    top: 30px;
    left: -36px;
    width: 36px;
    height: 36px;
    background: #223142;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none
}

.config-trigger:hover {
    background: #111820;
    text-decoration: none
}

.config-trigger:hover .fa-cog {
    color: #fff
}

.config-trigger .fa-cog {
    font-size: 1.25rem;
    display: block;
    color: #fff
}

.dark-mode .config-trigger {
    background: #000
}

.config-panel {
    position: absolute;
    top: 50px;
    right: -190px;
    z-index: 30;
    width: 190px
}

.config-panel .panel-inner {
    position: relative;
    background: #223142;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.dark-mode .config-panel .panel-inner {
    background: #000
}

.config-panel .panel-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff
}

.config-panel label {
    color: #fff
}

.config-panel #color-options {
    margin-bottom: 0px
}

.config-panel #color-options li a {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    margin-top: 5px
}

.config-panel #color-options li a:hover {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    border: 2px solid rgba(255, 255, 255, 0.9)
}

.config-panel #color-options li.list-inline-item {
    margin-right: 5px
}

.config-panel #color-options li.active a {
    border: 2px solid #fff
}

.config-panel #color-options li.theme-1 a {
    background: #09568a
}

.config-panel #color-options li.theme-2 a {
    background-color: #5BC3D5
}

.config-panel #color-options li.theme-3 a {
    background-color: #3B7EEB
}

.config-panel #color-options li.theme-4 a {
    background-color: #5ECCA9
}

.config-panel #color-options li.theme-5 a {
    background-color: #EEA73B
}

.config-panel #color-options li.theme-6 a {
    background-color: #5469C9
}

.config-panel #color-options li.theme-7 a {
    background-color: #5D6BA7
}

.config-panel #color-options li.theme-8 a {
    background-color: #6C51A4
}

.config-panel #color-options li.theme-9 a {
    background-color: #D67553
}

.config-panel #color-options li.theme-10 a {
    background-color: #5FCB71
}

.config-panel .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff
}

.config-panel .close .fa {
    color: #fff
}

a {
    color: #1874b3;
}

a:hover {
    color: #09568a;
    text-decoration: underline;
}


.header .nav-item .dropdown-menu .dropdown-item:hover,
.header .nav-item .dropdown-menu .dropdown-item:active,
.header .nav-item .dropdown-menu .dropdown-item:focus,
.header .nav-item .dropdown-menu .dropdown-item.active {
    background: #1874b3;
}

.dark-mode-toggle .toggle:checked + .toggle-btn:after {
    left: 50%;
    background: rgba(255, 255, 255, 0.9);
    background: #1874b3;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.active:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1874b3;
    border-color: #1874b3;
}

.btn-primary {
    color: #fff;
    background-color: #1874b3;
    border-color: #1874b3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #09568a;
    border-color: #09568a;
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul > li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

:root .fa-flip-both,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: #fff
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color, currentColor);
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
    fill: #000
}

.fad.fa-inverse {
    color: #fff
}

.fa-blue {
    color: cornflowerblue;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding: 15px;
}

.notfound .notfound-404 {
    position: relative;
    height: 220px;
}

.notfound .notfound-404 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 186px;
    font-weight: 200;
    margin: 0px;
    background: linear-gradient(130deg, #f1df89, #a0120b);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.notfound h2 {
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

.notfound p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
}

.notfound a {
    color: #b24027;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed #b24027;
    border-radius: 2px;
}

.notfound-social > a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: #b24027;
    border: 1px solid #efefef;
    border-radius: 50%;
    margin: 3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound-social > a:hover {
    color: #fff;
    background-color: #b24027;
    border-color: #b24027;
}

.icon-tecnologies{
	color:#434343;
}

.angle {
    position: relative;
}



.angle4 {
    /*background-color: #a1eacd;*/
}

.angle4,
.angle4:after,
.angle4-two:after {
    height: 50px;
    width: 100%;
}

.angle4:after {
    background-color: #dbe6f8;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 77% 100%, 12% 42%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 77% 100%, 12% 42%, 0 60%);
}

.angle4-two:after {
    background-color: #dbe6f8;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 77% 100%, 12% 42%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 77% 40%, 21% 100%, 0 60%);
}

.angle4,
.angle4:after,
.angle4-two:after {
    height: 50px;
    width: 100%;
}

.angle:after,
.angle4-two:after {
    content: '';
    position: absolute;
}


@media (min-width: 900px) {

    .angle4,
    .angle4:after,
    .angle4-two:after {
        height: 65px;
    }
}

@media (min-width: 600px) {

    .angle4,
    .angle4:after,
    .angle4-two:after {
        height: 45px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        position: relative;
        height: 168px;
    }

    .notfound .notfound-404 h1 {
        font-size: 142px;
    }

    .notfound h2 {
        font-size: 22px;
    }
}