<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Spring Boot JPA Paging and Sorting - Sadot Hernández</title>

    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sadot Hernández">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">


</head>

<body>

    <div class="container">

        <div class="row justify-content-md-center">

            <div class="col-md-10 py-3">

                <h2 class="text-center py-3">Spring Boot JPA Paging and Sorting</h2>
                
                <h6>Total de registros: <span th:text="${totalElementos}"></span></h6>
                
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center " scope="col">
                                <a th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}/(numeroPagina=${numeroPagina},campoOrden='idCiudad',sentidoOrden=${tipoSentidoOrden})}">Id <i th:classappend="${tipoSentidoOrden eq 'asc' ? 'fas fa-sort-down' : 'fas fa-sort-up'}" class="fas fa-sort-down"></i></a>
                            </th>
                            <th class="text-center" scope="col">
                                <a th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}/(numeroPagina=${numeroPagina},campoOrden='nombre',sentidoOrden=${tipoSentidoOrden})}">Nombre <i th:classappend="${tipoSentidoOrden eq 'asc' ? 'fas fa-sort-down' : 'fas fa-sort-up'}" class="fas fa-sort-down"></i></a>
                            </th>
                            <th class="text-center" scope="col">
                                <a th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}/(numeroPagina=${numeroPagina},campoOrden='codigoPais',sentidoOrden=${tipoSentidoOrden})}">Código País <i th:classappend="${tipoSentidoOrden eq 'asc' ? 'fas fa-sort-down' : 'fas fa-sort-up'}" class="fas fa-sort-down"></i></a>
                            </th>
                            <th class="text-center" scope="col">
                                <a th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}/(numeroPagina=${numeroPagina},campoOrden='distrito',sentidoOrden=${tipoSentidoOrden})}">Distrito <i th:classappend="${tipoSentidoOrden eq 'asc' ? 'fas fa-sort-down' : 'fas fa-sort-up'}" class="fas fa-sort-down"></i></a>
                            </th>
                            <th class="text-center" scope="col">
                                <a th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}/(numeroPagina=${numeroPagina},campoOrden='poblacion',sentidoOrden=${tipoSentidoOrden})}">Población <i th:classappend="${tipoSentidoOrden eq 'asc' ? 'fas fa-sort-down' : 'fas fa-sort-up'}" class="fas fa-sort-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ciudad : ${listaCiudad}">
                            <td class="text-center" th:text="${ciudad.idCiudad}"></td>
                            <td th:text="${ciudad.nombre}"></td>
                            <td class="text-center" th:text="${ciudad.codigoPais}"></td>
                            <td th:text="${ciudad.distrito}"></td>
                            <td class="text-center" th:text="${ciudad.poblacion}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <div>&nbsp;</div>
                
                <div class="row">
                    <div class="col-md-12" th:if="${totalPaginas > 1}">
                        <nav aria-label="Page navigation example" th:if="${totalPaginas gt 0}">
                            <ul class="pagination">

                                <li class="page-item" th:if="${numeroPagina > 1}">
                                    <a class="page-link" th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}(numeroPagina=1,campoOrden=${campoOrden},sentidoOrden=${tipoSentidoOrden eq 'desc'}  ? 'asc' : 'desc')}" aria-label="Primero" title="Primero">Primero</a>
                                </li>

                                <li class="page-item" th:if="${numeroPagina > 1}" th:classappend="${ numeroPagina > totalPaginas} ? 'disabled' ">
                                    <a class="page-link" th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}(numeroPagina=${numeroPagina-1},campoOrden=${campoOrden},sentidoOrden=${tipoSentidoOrden eq 'desc'}  ? 'asc' : 'desc')}" aria-label="Anterior" title="Anterior">Anterior</a>
                                </li>

                                <li class="page-item" th:classappend="${i eq numeroPagina} ? 'active'" th:each="i : ${#numbers.sequence( numeroPagina , totalPaginas > 10 + numeroPagina ? numeroPagina + 10 : totalPaginas, 1)}">
					            <a class="page-link" th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}(numeroPagina=${i},campoOrden=${campoOrden},sentidoOrden=${tipoSentidoOrden eq 'desc'}  ? 'asc' : 'desc')}" th:text="${i}" th:title="${'Página '+ i}" rel="tooltip"></a>
					        </li>
					        
					        <li class="page-item disabled" th:if="${numeroPagina + 10 < totalPaginas}">
					            <a class="page-link svg-icon" href="#">
					                <span data-feather="more-horizontal" width="20" height="20">...</span>
					            </a>
					        </li>
					        
					        <li class="page-item" th:if="${numeroPagina < totalPaginas}" th:classappend="${numeroPagina eq totalPaginas} ? 'disabled'">
					            <a class="page-link svg-icon" th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}(numeroPagina=${numeroPagina+1},campoOrden=${campoOrden},sentidoOrden=${tipoSentidoOrden eq 'desc'}  ? 'asc' : 'desc')}" aria-label="Siguiente" title="Siguiente" rel="tooltip">
					                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">Siguiente</span>
					            </a>
					        </li>
					        
					        <li class="page-item" th:if="${numeroPagina < totalPaginas}" th:classappend="${numeroPagina eq totalPaginas} ? 'disabled'">
					        	<a class="page-link"  th:href="@{/pagina/{numeroPagina}/{campoOrden}/{sentidoOrden}(numeroPagina=${totalPaginas},campoOrden=${campoOrden},sentidoOrden=${tipoSentidoOrden eq 'desc'}  ? 'asc' : 'desc')}" aria-label="Último" title="Último">Último</a>
					        </li>
					        
						</ul>
					</nav>
				</div>
			</div>
            </div>

        </div>

    </div>

    <!-- Javascript -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
</body>

</html>